---
- name: Ensure /opt/patroni directory exists
  ansible.builtin.file:
    path: "{{ pg_setup_patroni_patroni_install_dir }}/{{ item }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0755"
  loop:
    - etc

- name: Create Python Virtual Environment
  ansible.builtin.command: python3 -m venv /opt/patroni/venv
  args:
    creates: /opt/patroni/venv

- name: Install Python Packages
  ansible.builtin.pip:
    name:
      - patroni[etcd]
      - psycopg2-binary
    state: present
    virtualenv: /opt/patroni/venv

- name: Include patroni.service template
  ansible.builtin.template:
    src: patroni.service.j2
    dest: /etc/systemd/system/patroni.service
    owner: postgres
    group: postgres
    mode: "0644"
  register: patroni_service_template
  notify:
    - Restart Patroni Service

- name: Include patroni.yml template
  ansible.builtin.template:
    src: patroni.yml.j2
    dest: /opt/patroni/etc/patroni.yml
    owner: postgres
    group: postgres
    mode: "0644"
  notify:
    - Restart Patroni Service

- name: Reload systemd daemon # noqa: no-handler
  ansible.builtin.systemd:
    daemon_reload: true
  when: patroni_service_template.changed

- name: Enable and Start Patroni Service
  ansible.builtin.systemd_service:
    name: patroni
    state: started
    enabled: true
...
