---
- name: Install dependencies
  ansible.builtin.include_tasks: install_dependencies.yml

- name: Install postgresql
  ansible.builtin.include_tasks: install_postgresql.yml

- name: Include open_firewall_ports tasks
  ansible.builtin.include_tasks: open_firewall_ports.yml

- name: Include create_service_accounts tasks
  ansible.builtin.include_tasks: create_service_accounts.yml

- name: Include create_etcd_service tasks
  ansible.builtin.include_tasks: create_etcd_service.yml

- name: Include create_patroni_service tasks
  ansible.builtin.include_tasks: create_patroni_service.yml
...
